# Python
__pycache__/
*.py[cod]
*$py.class
*.env
*.venv
env/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Operating system
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE
.vscode/
.idea/
